Learn Pandas: Working with Multiple Tables
    
Page Visits Funnel
-----------

Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.
In this case, our funnel is going to describe the following process:

1. A user visits CoolTShirts.com
2. A user adds a t-shirt to their cart
3. A user clicks "checkout"
4. A user actually purchases a t-shirt

In [157]:
import pandas as pd
import numpy as np

In [158]:
# lists all of the users who have visited the website
visits = pd.read_csv("C:/Users/ushai/Dropbox/Data Science/CodeCademy/P-R-O-J-E-C-T-S/Page Visits Funnel/PVF.visits.csv")
visits.head()

                                user_id       visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188   4/7/2017 15:14
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  1/26/2017 14:24
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1   8/20/2017 8:23
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  11/4/2017 18:15
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2/27/2017 11:25

In [159]:
# lists all of the users who have added a t-shirt to their cart
cart = pd.read_csv("C:/Users/ushai/Dropbox/Data Science/CodeCademy/P-R-O-J-E-C-T-S/Page Visits Funnel/PVF.cart.csv")
cart.head()

                                user_id        cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  11/7/2017 20:45
1  4397f73f-1da3-4ab3-91af-762792e25973   5/27/2017 1:35
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663   3/4/2017 10:38
3  b594862a-36c5-47d5-b818-6e9512b939b3   9/27/2017 8:22
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  7/26/2017 15:48

In [160]:
# lists all of the users who have started the checkout
checkout = pd.read_csv("C:/Users/ushai/Dropbox/Data Science/CodeCademy/P-R-O-J-E-C-T-S/Page Visits Funnel/PVF.checkout.csv")
checkout.head()

                                user_id    checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d   6/25/2017 9:29
1  4ac186f0-9954-4fea-8a27-c081e428e34e   4/7/2017 20:11
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  7/13/2017 11:38
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  4/20/2017 16:15
4  3ccdaf69-2d30-40de-b083-51372881aedd   1/8/2017 20:52

In [161]:
# lists all of the users who have purchased a t-shirt
purchase = pd.read_csv("C:/Users/ushai/Dropbox/Data Science/CodeCademy/P-R-O-J-E-C-T-S/Page Visits Funnel/PVF.purchase.csv")
purchase.head()

                                user_id     purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85    5/11/2017 4:25
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac     9/5/2017 8:45
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  11/20/2017 20:49
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d   1/22/2017 15:18
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867   6/11/2017 11:32

### LEFT MERGE CART TO VISITS

In [162]:
# Part 2
# Combining visits and cart using a left merge.
visits_cart = pd.merge(visits, cart, how='left')
visits_cart.head()

                                user_id       visit_time        cart_time
0  943647ef-3682-4750-a2e1-918ba6f16188   4/7/2017 15:14              NaN
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  1/26/2017 14:24  1/26/2017 14:44
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1   8/20/2017 8:23   8/20/2017 8:31
3  6e0b2d60-4027-4d9a-babd-0e7d40859fb1   8/20/2017 8:23   8/20/2017 8:49
4  6879527e-c5a6-4d14-b2da-50b85212b0ab  11/4/2017 18:15              NaN

In [163]:
# Part 3
# length of merged DataFrame?
len (visits_cart)

2052

In [164]:
# Part 4
# Calculating null timestamps for cart_time.
# df[df.column1.isnull()]
# If a row of merged DataFrame shows cart_time equal to null, then that user visited the website, 
# but did not place a t-shirt in the cart.

cart_time_null = visits_cart[visits_cart.cart_time.isnull()]
len(cart_time_null)

1652

In [165]:
# Percent of users who visited the website but did not place an item in the cart.
not_in_cart_percentage = (len(cart_time_null)/len(visits_cart)) *100
np.round(not_in_cart_percentage, 2)

80.51

### LEFT MERGE CHECKOUT TO CART

In [166]:
# part 6
# left merge for cart and checkout, will show how many people who added a t-shirt to their cart and checked out.
# left merge = pd.merge(df1,df2, how='left')

cart_checkout = pd.merge(cart,checkout, how='left')
cart_checkout.head()

                                user_id        cart_time    checkout_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  11/7/2017 20:45  11/7/2017 21:14
1  2be90e7c-9cca-44e0-bcc5-124b945ff168  11/7/2017 20:45  11/7/2017 20:50
2  2be90e7c-9cca-44e0-bcc5-124b945ff168  11/7/2017 20:45  11/7/2017 21:11
3  4397f73f-1da3-4ab3-91af-762792e25973   5/27/2017 1:35              NaN
4  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663   3/4/2017 10:38   3/4/2017 11:04

In [167]:
# Calculating Null Values = df[df.column.isnull()]
cart_chekcout_null = cart_checkout[cart_checkout.checkout_time.isnull()]
len(cart_chekcout_null)

126

In [168]:
# percentage of users which put items in their cart, but did not proceed to checkout?
did_not_checkout_percentage = (len(cart_chekcout_null)/len(cart)) *100
did_not_checkout_percentage

31.5

### LEFT MERGE PURCHASE TO CHECKOUT

In [169]:
# part 7
# left merge for checkout and purchase, will show how many people checked out and purchase the t-shirt.
checkout_purchase = pd.merge(checkout, purchase, how='left')
checkout_purchase.head()

                                user_id    checkout_time   purchase_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d   6/25/2017 9:29  6/25/2017 9:49
1  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d   6/25/2017 9:29  6/25/2017 9:56
2  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d   6/25/2017 9:29  6/25/2017 9:57
3  4ac186f0-9954-4fea-8a27-c081e428e34e   4/7/2017 20:11             NaN
4  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  7/13/2017 11:38             NaN

In [170]:
checkout_purchase_null = checkout_purchase[checkout_purchase.purchase_time.isnull()]
len(checkout_purchase_null)

101

In [171]:
# Percentage of users which checkout but did not purchase?
did_not_purchase_percentage = (len(checkout_purchase_null)/len(checkout)) *100
np.round(did_not_purchase_percentage, 2)

28.06

### MERGING ALL DATA

In [172]:
# part 7
# Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.
# Examine the result using print and head.

all_data = visits_cart.merge(cart_checkout, how='left').merge(checkout_purchase, how='left')
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,4/7/2017 15:14,NaN,NaN,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,1/26/2017 14:24,1/26/2017 14:44,1/26/2017 14:54,1/26/2017 15:08
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,8/20/2017 8:23,8/20/2017 8:31,NaN,NaN
3,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,8/20/2017 8:23,8/20/2017 8:49,NaN,NaN
4,6879527e-c5a6-4d14-b2da-50b85212b0ab,11/4/2017 18:15,NaN,NaN,NaN

### IDENTIFYING THE WEAKEST STEP IN FUNNEL

In [173]:
# part 9
# Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?
# How might Cool T-Shirts Inc. change their website to fix this problem?

not_in_cart_percentage = (len(cart_time_null)/len(visits_cart)) *100
print(np.round(not_in_cart_percentage,2))

did_not_checkout_percentage = (len(cart_chekcout_null)/len(cart)) *100
print(np.round(did_not_checkout_percentage,2))

did_not_purchase_percentage = (len(checkout_purchase_null)/len(checkout)) *100
print(np.round(did_not_purchase_percentage, 2))

80.51
31.5
28.06

### AVERAGE TIME TO PURCHASE

In [174]:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,4/7/2017 15:14,NaN,NaN,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,1/26/2017 14:24,1/26/2017 14:44,1/26/2017 14:54,1/26/2017 15:08
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,8/20/2017 8:23,8/20/2017 8:31,NaN,NaN
3,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,8/20/2017 8:23,8/20/2017 8:49,NaN,NaN
4,6879527e-c5a6-4d14-b2da-50b85212b0ab,11/4/2017 18:15,NaN,NaN,NaN

In [179]:
# Part 10
# Changing format for Date and Time before we calculate the average time from initial visit to final purchase. 
all_data['visit_time'] = pd.DataFrame({'visit_time' : pd.to_datetime(all_data['visit_time'], infer_datetime_format=True)})
all_data['cart_time'] = pd.DataFrame({'cart_time' : pd.to_datetime(all_data['cart_time'], infer_datetime_format=True)})
all_data['checkout_time'] = pd.DataFrame({'checkout_time' : pd.to_datetime(all_data['checkout_time'], infer_datetime_format=True)})
all_data['purchase_time'] = pd.DataFrame({'purchase_time' : pd.to_datetime(all_data['purchase_time'], infer_datetime_format=True)})

In [180]:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:49:00,NaT,NaT
4,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT

In [181]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

In [182]:
# part 11
# Examine results:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time,time_to_purchase
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:49:00,NaT,NaT,NaT
4,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT

In [184]:
# part 12
# Calculate the average time to purchase using the following code:
print(all_data.time_to_purchase.mean())

0 days 00:44:33.376963