### PETAL POWER PROJECT - PANDAS

In [1]:
import pandas as pd

In [4]:
inventory = pd.read_csv('C:/Users/ushai/Dropbox/Data Science/CodeCademy/P-R-O-J-E-C-T-S/zData/petal_power.csv')

### 1. Answer Customer Emails

1) Inspect the first 10 rows of inventory.

In [ ]:
inventory.head(10)

2) The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

In [7]:
staten_island = inventory[inventory.location == 'Staten Island']

In [8]:
staten_island.head()

        location  product_type product_description  quantity  price
0  Staten Island         seeds               daisy         4   6.99
1  Staten Island         seeds          calla lily        46  19.99
2  Staten Island         seeds              tomato        85  13.99
3  Staten Island  garden tools                rake         4  13.99
4  Staten Island  garden tools         wheelbarrow         0  89.99

3) A customer just emailed you asking what products are sold at your Staten Island location. Select the column product_description from staten_island and save it to the variable product_request.

In [9]:
product_request = staten_island['product_description']

In [10]:
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

4) Another customer emails to ask what types of seeds are sold at the Brooklyn location.

   Select all rows where location is equal to Brooklyn and product_type is equal to seeds and save them to the variable seed_request.

In [11]:
seed_request = inventory[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]

In [12]:
seed_request

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

### 2. Inventory

5) Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.

In [13]:
inventory['in_stock'] = inventory['quantity'].apply(lambda x: True if x > 0 else False)

In [14]:
inventory.head()

        location  product_type product_description  quantity  price  in_stock
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

6) Petal Power wants to know how valuable their current inventory is.  Create a column called total_value that is equal to price multiplied by quantity.

In [15]:
inventory['total_value'] = inventory['quantity'] * inventory['price']

In [16]:
inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value
0,Staten Island,seeds,daisy,4,6.99,True,27.96
1,Staten Island,seeds,calla lily,46,19.99,True,919.54
2,Staten Island,seeds,tomato,85,13.99,True,1189.15
3,Staten Island,garden tools,rake,4,13.99,True,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00

##### 7) The Marketing department wants a complete description of each product for their catalog. The following lambda function combines product_type and product_description into a single string:

In [22]:
# lambd function using row.
combine_lambda = lambda row: '{} - {}'.format(row.product_type, row.product_description)

8) Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product.

In [18]:
# method 1
# inventory['Full Description'] = inventory.product_type + ' - ' + inventory.product_description

In [19]:
# method 2
inventory['full_description'] = inventory.apply(combine_lambda, axis=1)

In [20]:
inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools - wheelbarrow

### Video tutorial

https://www.youtube.com/watch?time_continue=149&v=oD1UOfUoUc0

In [21]:
import pandas as pd

# loading data into a dataframe "inventory"
inventory = pd.read_csv('petal.power.csv', sep=",")

#3 Seperating specific variable in a column
# Select rows for staten_island under location and save them to staten_island.
# Keryy----------------also, when you are filtering based on a column it takes the format :
# - new_df = old_df[old_df.column == 'criteria']

staten_island = inventory[inventory.location == 'Staten Island']
print (staten_island)

#----- also, if you do want to use lambda fuctions, don't forget to use ".apply", so

staten_island = inventory[inventory.location.apply(lambda x: x == "Staten Island")]
print (staten_island)

#4 A customer just emailed you asking what products are sold at your Staten Island location. 
# - Select the column product_description from staten_island and save it to the variable product_request.
product_request = staten_island.product_description
print (product_request)

#5 Another customer emails to ask what types of seeds are sold at the Brooklyn location.
# - Select all rows where location is equal to Brooklyn and product_type is equal to seeds 
# - and save them to the variable seed_request.
Brooklyn = inventory.location == 'Brooklyn'
Seeds = inventory.product_type == 'seeds'
brooklyn_seeds = inventory[Brooklyn & Seeds]
print (brooklyn_seeds)

#6 Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.
inventory['in_stock'] = inventory.quantity.apply(lambda x : 'True' if x > 0 else "False")
inventory

#7 Petal Power wants to know how valuable their current inventory is.
# - Create a column called total_value that is equal to price multiplied by quantity.
inventory['total_value'] = inventory.price * inventory.quantity
inventory

#8 The Marketing department wants a complete description of each product for their catalog.
# - The following lambda function combines product_type and product_description into a single string:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type, row.product_description)
    

#9 Using combine_lambda, create a new column in inventory called full_description that has the complete description 
# - of each product.
inventory['full_description'] = inventory.apply(combine_lambda, axis = 1)
inventory

#10 "Changing Index for a new data frame"
Brooklyn = inventory.location == 'Brooklyn'
Seeds = inventory.product_type == 'seeds'
brooklyn_seeds = inventory[Brooklyn & Seeds]
brooklyn_seeds.reset_index(inplace=True, drop=True)  #The numbering has been reset
brooklyn_seeds

FileNotFoundError: File b'petal.power.csv' does not exist